<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnapTake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <userSettings>
        <SnapTake.Properties.Settings>
            <setting name="DefaultCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultResolution" serializeAs="String">
                <value>0</value>
            </setting>
        </SnapTake.Properties.Settings>
    </userSettings>
  
  <log4net>
    <!-- The Logs file appender -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value="100MB" />
      <file type="log4net.Util.PatternString">
        <conversionPattern value="Logs\SnapTake_%date{yyyy.MMM.dd}.log" />
      </file>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate.SQL" />
        <acceptOnMatch value="false" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date %-5level [%thread] l4n-requestor=%property{requestor} l4n-requesttimestamp=%property{requesttimestamp} l4n-transactionid=%property{transactionId} l4n-env=%property{logger_environment} l4n-logger=%logger aspnet-net_sessionid=%aspnet-request{ASP.NET_SessionId} aspnet-request_method=%aspnet-request{REQUEST_METHOD} aspnet-server_name=%aspnet-request{SERVER_NAME} aspnet-url=%aspnet-request{URL} aspnet-query_string=%aspnet-request{QUERY_STRING} [%property{logger_data}] %message%newline%exception%newline" />
      </layout>
    </appender>

    <!-- TODO: We'll probably eventually want to change this to INFO rather than DEBUG for production -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>

  </log4net>

</configuration>
